
.card-widget {
    display: flex;

  }
  

.card-img{
    width: 25px !important;
   
}
  
.card-text {
    font-size: 1rem;
    font-weight: bold;
  }
  .span-widget{
    color:black;
        
  }
.link-widget{
    text-decoration: none;
  }
